<!DOCTYPE html>
<html>
  <head>
    <title>Album casamento - Ederson & Taisa</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Album de casamento do Zé e da Taisa">
    <meta name="author" content="Ederson de Lima">

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'bootstraps' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :included_scripts %>
  </head>

  <body id="page-top">

    <%= render 'layouts/components/navbar' %>

    <%= yield %>

    <% render 'layouts/components/about' %>

    <%= render 'layouts/components/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
